{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password change{% endblock title %}
{% block content %}
    <div class="container" style="height: 200px;">
        <h1 style="color: white;">Change Password</h1>
        <p style="color: white;">First, enter old password, then the new one.</p>
        <form method="POST" style="color: white;">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success">
        </form>
    </div>
{% endblock content %}