{% extends 'base.html' %}
{% block content %}
<div class="container">
	<form method="post" style="padding-left: 300px;">{% csrf_token %}
		<label for="mtext" style="color: white;">Your Message</label><br>
  		<textarea maxlength="250" id="mtext" name="mtext" rows="6" cols="50" placeholder="Type here..."></textarea><br>
  		<label for="email" style="color: white;">Your Email</label><br>
  		<input type="email" id="email" name="email" placeholder="name@gmail.com"><br>
		<button type="submit" class="btn btn-success">Send</button>
	</form>
</div>
{% endblock content %}